body {
    background-image: url("https://i.pinimg.com/originals/5e/6b/1c/5e6b1c6a633aeeaa013312b69c89ab11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
